################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vscode
/bin
/obj
/config.json
/token.json
/lib
/logs
/App.config
*.user
/VoiceChannelGrabber.csproj.user
